<div class="row">
    <div class="col-md-8 offet-md-2">
        <h1>User Profile</h1>
        <hr>

        <h2>My Orders</h2>
        {{#each orders }}

        <div class="card">
            <!-- Default panel contents -->
            <div class="card-header">Order : {{this._id}}</div>

            <div class="card-body">
                Products Detail :
            </div>
            <!-- List group -->
            <ul class="list-group list-group-flush">
                {{#each this.items}}
                <li class="list-group-item  d-flex align-items-center">
                    <strong class="mr-2">{{this.item.title}}</strong>
                    <span class="badge badge-primary badge-pill mr-2">{{this.qty}}</span>
                    <span class="badge badge-success ml-auto">{{this.price}}</span>
                </li>
                {{/each}}
            </ul>
            <div class="card-footer text-right mb-2">
                <strong>Total price : {{this.cart.totalPrice}} $ </strong>
            </div>
        </div>
        {{/each}}
    </div>
</div>