{{#if products}}
<div class="row">
    <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
        <ul class="list-group">
            {{#each products }}
            <li class="list-group-item  border-0 d-flex align-items-center">
                <strong class="mr-2">{{this.item.title}}</strong>
                <span class="badge badge-success mr-2">${{this.price}}</span>
                <div class="dropdown mr-2">
                    <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type=" button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span
                            class="caret"></span></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Reduce by 1</a>
                        <a class="dropdown-item" href="#">Remove all</a>
                    </div>
                </div>
                <span class="badge badge-primary badge-pill ml-auto">{{this.qty}}</span>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
        <strong>Total: $ {{ totalPrice }}</strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
        <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
    </div>
</div>
{{else}}
<div class="row top-buffer">
    <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
        <h2>No items in cart</h2>
    </div>
</div>
{{/if}}